spring:
  redis:
    host: loclahost
    port: 6379
    database: 1
  cloud:
    gateway:
      routes:
        #鉴权服务
        - id: kylin-auth-service
          uri: lb://kylin-auth-service
          predicates:
            - Path=/${server.servlet.context-path}/auth/**
          filters:
            - StripPrefix=1
            - name: Hystrix
              args:
                name: kylin-auth-service-hystrix
                fallbackUri: forward:/fallback/kylin-auth-service
        #用户服务
        - id: kylin-user-service
          uri: lb://kylin-user-service
          predicates:
            - Path=/${server.servlet.context-path}/user/**
          filters:
            - StripPrefix=1
            - name: Hystrix
              args:
                name: kylin-user-service-hystrix
                fallbackUri: forward:/fallback/kylin-user-service
            - name: RequestRateLimiter
              args:
                key-resolver: '#{@hostAddrKeyResolver}'
                redis-rate-limiter.replenishRate: 1
                redis-rate-limiter.burstCapacity: 3


#Router Hystrix使用线程隔离
hystrix.command.kylin-user-service-hystrix.execution.isolation.strategy: THREAD
hystrix.command.kylin-user-service-hystrix.threadPoolKeyOverride: kylin-user-service-tpk
hystrix.command.kylin-auth-service-hystrix.execution.isolation.strategy: THREAD
hystrix.command.kylin-auth-service-hystrix.threadPoolKeyOverride: kylin-auth-service-tpk


#调整Router Hystrix线程池
#用户服务
hystrix.threadpool.kylin-user-service-tpk.coreSize: 500
hystrix.threadpool.kylin-user-service-tpk.maximumSize: 2000
hystrix.threadpool.kylin-user-service-tpk.allowMaximumSizeToDivergeFromCoreSize: true

#鉴权服务
hystrix.threadpool.kylin-auth-service.coreSize: 500
hystrix.threadpool.kylin-auth-service.maximumSize: 2000
hystrix.threadpool.kylin-auth-service.allowMaximumSizeToDivergeFromCoreSize: true


#服务熔断设置
hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds: 10000
#hystrix.command.kylin-user-service-hystrix.execution.isolation.thread.timeoutInMilliseconds: 30000


#开启内部服务熔断
feign:
  client:
    config:
      kylin-auth-service:
        connectTimeout: 2000
        readTimeout: 10000
#hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds和
#feign.client.config.kylin-auth-service.readTimeout时间哪个小哪个起作用,二者同时配置超时才起作用

#网关策略
gateway:
  white-list:
    patterns:
      - /**/user/login
      - /**/user/register

