#开启内部服务熔断
feign:
  hystrix:
    enabled: true
  client:
    config:
      kylin-auth-service:
        connectTimeout: 2000
        readTimeout: 10000

#服务间调用超时设置
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000


spring:
  #数据源
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/kylin?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true
      username: root
      password: 123456
      initial-size: 10
      min-idle: 10
      max-active: 1000
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 30000
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true
      validation-query: SELECT 1
      filters: stat
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: '*.js,*.gif,*.jpg,*.jgeg,*.png,*.css,*.ico,/druid/*,*.eot,*.svg,*.ttf,*.woff,*.woff2'
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        login-username: admin
        login-password: kylin

redis:
  primary:
    host: loclahost
    port: 6379
    database: 1
